<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gallery of subcategories</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body style="margin: 0 auto; width:70%">
        <form action="/gallery/" method="post">
            Category name
            <input type="text" name="category" style="width:100%;" value="{{ category_name }}"></input>
            <input type="checkbox" name="with_usage" value="with_usage">Most used images have a highter rank</input><br>
            <input type="checkbox" name="flattening" value="flattening">Generates for subcategories as well</input><br>
            <input type="submit" value="Generates the gallery !">
        </form>
        {% if HTML %}
        <h1>Result</h1>
        <h2>Gallery</h2>
         {{ HTML }}
         <h2>WIKI</h2>
         <pre>{{ WIKI }}</pre>
         <h2>Wikidata</h2>
         <pre>{{ Wikidata}}</pre>
        {% endif %}
    </body>
</html>
