<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Best image</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body style="margin: 0 auto; width:60%">
        <form action="/image" method="post">
            <h2>Category name:</h2>
            <input type="text" name="category" style="width:100%;" value="{{ category_name }}"><br>
            <input type="checkbox" name="with_usage" value="with_usage">images used on Wikimedia projects will receive a highter ranking than unused ones.</input><br>
            <input type="submit" value="Find the best image !">
        </form>
        {% if image_name %}
        <h1>Result</h1>
         <img src={{ image_url }} align="left">
        <a href={{ file_url }}><div align="center"><pre>{{ image_name }}</pre></div></a>
        {% endif %}
    </body>
</html>
