<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gallery of subcategories</title>
    </head>
    <body style="margin: 0 auto; width:60%">
        <form action="/gallery/" method="post">
            <h2>Category name:</h2>
            <input type="text" name="category" style="width:100%;" value="{{ category_name }}"><br>
            <h2>With usage of the images</h2>
            <p>Means that images used on Wikimedia projects will receive a highter ranking than unused ones.</p>
            <input type="radio" name="with_usage" id="with_usage_true" value="with_usage_true">Yes</input><br>
            <input type="radio" name="with_usage" id="with_usage_false" value="with_usage_false">No</input><br>
            <input type="submit" value="Generates the gallery !">
        </form>
        {% if HTML %}
        <h1>Result</h1>
        <h2>Gallery</h2>
         {{ HTML }}
         <h2>WIKI</h2>
         <pre>{{ WIKI }}</pre>
        {% endif %}
    </body>
</html>
