<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Best image</title>
    </head>
    <body style="margin: 0 auto; width:60%">
        <h1>Editor</h1>
        <form action="/" method="post">
            Category name:<br>
            <input type="text" name="category" style="width:100%;" value="{{ category_name }}"><br>
            <input type="submit" value="Code!">
        </form>
        {% if image_name %}
        <h1>Result</h1>
         <img src={{ image_url }} align="left">
        <a href={{ file_url }}><div align="center"><pre>{{ image_name }}</pre></div></a>
        {% endif %}
    </body>
</html>
